body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 470px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    text-align: left;
}

#result p {
    margin: 10px 0;
}

#result.visible {
    opacity: 1;
}

.hidden {
    display: none;
}

#errorMessage {
    margin-top: 10px;
    font-size: 14px;
    color: red;
    font-weight: bold;
}

#fee {
    font-weight: bold;
    color: green;
    font-style: italic;
}

#currency {
    font-weight: bold;
    color: red;
    font-style: italic;
}

canvas {
    margin-top: 20px;
}
